.footer-PS {
  margin-top: 10vh;
  &__img {
    width: 133px;
  }

  &__contacto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;

    .title {
      font-size: 20px;
    }

    span {
      margin-bottom: 5px;
    }
  }

  &__box-redes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
  }

  a {
    margin-right: 15px;
    padding: 7.5px;
  }
}
