.header {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
}

.img-container img {
  width: 200px;
  margin-top: 5px;
  margin-left: 5px;
}

nav {
  margin-right: 100px;
  font-size: 20px;
}

a:hover {
  color: #f76f4b;
}
