.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container img {
  width: 200px;
  margin-top: 5px;
  margin-left: 5px;
}

a {
  font-size: 20px;
}

a:hover {
  color: #f76f4b;
}
