.header {
  margin-bottom: 5vh;

  &__logo {
    width: 300px;
  }

  &__nav-icon {
    color: #ed376b;
    margin-bottom: -6px;
  }

  a {
    font-size: 22px;
  }

  a:hover {
    color: #f76f4b;
  }
}
