.landing {
  &__twitch-player {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/FondoTwitch.jpg");
    margin-bottom: 10vh;
  }
  
  &__box-info {
    font-size: 22px;
  }

  &__box-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__paragaph-info {
    margin-bottom: 10px;
  }
  
}
