.landing {
  &__info-box {
    p {
      font-size: 1.3rem;
      font-weight: 600;
      word-spacing: 5px;
    }
  }

  &__img-box {
    width: 100%;
    object-fit: contain;
  }

  &__twitch-player {
    display: flex;
    justify-content: center;
    background: url("../../Assets/FondoTwitch.jpg") no-repeat center;
  }

  @media (min-width: 900px) {
    &__info-box {
      padding: 0 180px;
    }
  }

  @media (max-width: 1500px) {
    &__info-box {
      font-size: 18px;
      padding: 0 120px;
    }
  }

  @media (max-width: 1200px) {
    &__info-box {
      padding: 0 80px;
    }
  }

  @media (max-width: 1100px) {
    &__info-box {
      padding: 0 50px;
    }
  }

  @media (max-width: 1000px) {
    &__info-box {
      padding: 0 30px;
    }
  }

  @media (max-width: 600px) {
    &__info-box {
      padding: 0;
    }
  }
}
