.App {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

html {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
