.App {
  text-align: center;
  font-family: 'Omnes';
  background-color: black;
  color: white;
  padding-left: 3vw;
  padding-right: 3vw;
}

a {
  text-decoration: none;
  color: white;
}

body{
  height: 100%;
}
