.programas {
  &__container {
    background-image: url("../../Assets/BannerPs.png");
  }

  &__img-box {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__footerBB-container {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
