.programas {
  &__container {
    display: flex;
    align-items: center;
    background-image: url("../../assets/BannerPs.png");
    margin-bottom: 10vh;
  }

  &__box-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
