.footer {
  &__img {
    width: 133px;
  }

  &__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  a {
    margin-right: 25px;
  }
}
